@import "tailwindcss";

@font-face {
  font-family: 'TahomaXp';
  src: url('assets/fonts/windows-xp-tahoma.otf');
  font-weight: 400;
  font-style: normal;
}

@theme {
  --color-background: #0089DA;
  --taskbar-color: #FFDDDF;
  --folder-background: #FFB7DE;
  --folder-box-color: #FDE1E1;
  --text-gray: #4A4A4A;

  /* Colors for all window headers */
  --biography-header: #9720F1;
  --folder-header: #0089DA;
  --resume-header: #F03C3F;
  --email-header: #FF8A05;
  --liveCode-header: #0089DA;
  --github-header: #25292E;
  --games-header: #009D0A;

  /* Colors for all tags in Biography Window */
  --tag-basic: #FF8A05;
  --tag-framework: #76B3E5;
  --tag-backend: #469C4B;
  --tag-tools: #585858;

  /* Colors for GitHub Page */
  --github-background: #0D1117;
  --github-gray-text: #515151;
  --github-view-button: #212830;
  --github-border: #212830;

}

body {
  font-family: 'TahomaXp';
}

.dual-border-folder {
  border-width: 2px;
  border-style: solid;
  border-top-color: white;
  border-left-color: white;
  border-right-color: black;
  border-bottom-color: black;
}

.dual-border-inner {
  border-width: 2px;
  border-style: solid;
  border-top-color: black;
  border-left-color: black;
  border-right-color: white;
  border-bottom-color: white;
}

.dual-border {
  border-width: 2px;
  border-style: solid;
  border-top-color: white;
  border-left-color: white;
  border-right-color: black;
  border-bottom-color: black;
}

.file-menu-bar {
  border: 2px solid transparent
}

.file-menu-bar:hover {
  border-width: 2px;
  border-style: solid;
  border-top-color: white;
  border-left-color: white;
  border-right-color: black;
  border-bottom-color: black;
}
.file-menu-bar:active {
  border-width: 2px;
  border-style: solid;
  border-top-color: black;
  border-left-color: black;
  border-right-color: white;
  border-bottom-color: white;
}


.dual-border:active {
  border-top-color: black;
  border-left-color: black;
  border-right-color: white;
  border-bottom-color: white;
}