@import "tailwindcss";

@font-face {
  font-family: 'TahomaXp';
  src: url('assets/fonts/windows-xp-tahoma.otf');
  font-weight: 400;
  font-style: normal;
}

@theme {
  --color-background: #0089DA;
  --taskbar-color: #FFDDDF;
  --folder-background: #FFB7DE;
  --folder-box-color: #FDE1E1;
}

body {
  font-family: 'TahomaXp';
}

.dual-border {
  border-width: 2px;
  border-style: solid;
  border-top-color: white;
  border-left-color: white;
  border-right-color: black;
  border-bottom-color: black;
}

.dual-border:active{
  border-top-color: black;
  border-left-color: black;
  border-right-color: white;
  border-bottom-color: white;
}